body {
  text-shadow: 0 0 2em white, 0 0 1em white, 0 0 0.2em white;
  background-color: darkviolet;
  padding: 4%;
  height: calc(100vh - 8%);
  width: calc(100vw - 8%);
  box-sizing: border-box;
}
#root {
  height: 100%;
  width: 100%;
}
.App-header{
}
.content {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.2em;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}
.weather-condition {
  height: max-content;
  display: flex;
  align-items: center;
}
.map-container {
  position: relative;
  width: 50vw;
  height: 50vh;
}